#ifndef LDB_HNSW_VERSION_H
#define LDB_HNSW_VERSION_H

#define LDB_BINARY_VERSION "@RELEASE_ID@"
#define LDB_BUILD_ID "@BUILD_ID@"
#define LDB_COMPATIBLE_VERSIONS @COMPATIBLE_VERSIONS_ARRAY@
#define LDB_COMPATIBLE_VERSIONS_COUNT @COMPATIBLE_VERSIONS_COUNT@

#endif
