name: test
on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main
      - dev
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - postgres: 15
            os: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: "recursive"
      - name: Setup test env
        run: sudo su -c "SETUP_POSTGRES=1 SETUP_TESTS=1 ./ci/scripts/build.sh"
        env:
          PG_VERSION: ${{ matrix.postgres }}
      - name: Run tests
        run: sudo su -c ". $HOME/.cargo/env && OPENAI_TOKEN=$OPENAI_TOKEN COHERE_TOKEN=$COHERE_TOKEN DB_URL='postgres://postgres@127.0.0.1:5432/postgres' cargo test --workspace --exclude lantern_extras --  --nocapture --test-threads=1"
        env:
          OPENAI_TOKEN: ${{ secrets.OPENAI_TOKEN }}
          COHERE_TOKEN: ${{ secrets.COHERE_TOKEN }}
